In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# constants defintions
UPPER = 10
LOWER = -5
NUM_ITERATIONS = 1000
d = 5
n = 20

In [3]:
def generate_data(seed_num, d, n):
    
    rng = np.random.default_rng(seed = seed_num)

    data = (UPPER - LOWER)* rng.random((n,d)) + LOWER # "uniformly randomly, obeying the bounds"
    
    return pd.DataFrame(data)

def random_parameters(seed_num, num):
    rng = np.random.default_rng(seed = seed_num)
    return rng.random((num, 2)) #uniform random, two for each d

def f(x):
    return np.square(np.sum(np.square(x)))

def best(data):
    return data[np.argmin(f(data))]

def worst(data):
    return data[np.argmax(f(data))]
    
def new_vector(current_i, best_i, worst_i, r1, r2):
    new_i = current_i + r1*(best_i - abs(current_i)) - r2*(worst_i - abs(current_i))
    
    if (new_i < LOWER):
        return LOWER
    elif (new_i > UPPER):
        return UPPER
    else:
        return new_i

def choose_update_vector(current, new): #at least as good == f(x) is less than or equal to
    if (f(new) <= f(current)):
        return new
    else:
        return current
    
def algo(df, num_iterations):
    data = df.T # its way more intutive to iterate through the rows so transpose the dataframe
    
    updates = 0
    while (updates < num_iterations):
        r = random_parameters(42, data.shape[0])
        best_v = best(data)
        worst_v = worst(data)
        
        for i, vector in enumerate(data): #updating every vector in data (this is the only "for" loop in program)
            vfunc = np.vectorize(new_vector)
            new_v = vfunc(vector, best_v, worst_v, r.T[0], r.T[1]) 
            
            data[i] = choose_update_vector(data[i], new_v)
            
        updates += 1
        
        #if any hit the global minimum, stop
        if ((data == 0).any().any()):
            break
    
    return data.T, updates

df = generate_data(42, d, n)

df

           0         1         2         3         4
0   6.609341  1.583177  7.878969  5.460520 -3.587340
1   9.634335  6.417096  6.790965 -3.078296  1.755789
2   0.561970  8.901475  4.657977  7.341424  1.651213
3  -1.591419  3.318772 -4.042741  7.414468  4.474966
4   6.371316  0.317890  9.560470  8.396817  6.675752
5  -2.080419  2.000815 -4.342944 -2.685658  5.245734
6   6.171432  9.512646 -0.112620  0.556896  2.043337
7  -2.157930 -3.051177  2.135574 -1.596360  5.047210
8   1.557279  7.490173  5.503977 -0.314500  7.483897
9   7.071465  0.812176 -0.675078  5.237433 -2.903713
10 -2.001377 -4.889566  6.803866  4.972763  5.577481
11  6.710935  1.883737  3.531118 -2.903045 -3.282049
12  5.026044  2.066443  3.478542  6.474983  4.520775
13  3.303691  3.388107 -0.440749 -4.537732  1.550761
14 -1.781230  1.127930  7.801046 -1.490908 -4.125459
15 -0.779242 -0.596094  4.928748  3.355482  6.758473
16  4.964703  1.095803  7.210306 -2.495406 -4.659319
17 -3.649282  5.835390  1.928158 -2.580923  2.515672
18 -2.715318  5.444806  1.692344  0.715318 -0.477319
19  4.454239  0.427189 -3.685251 -3.229911  9.428465

In [4]:
df, iters = algo(df, NUM_ITERATIONS)

df

           0         1         2         3         4
0  -2.784993 -0.548508 -5.000000  0.791675 -3.431793
1  -2.120071  0.290262 -3.328977  1.816599 -2.109521
2  -1.455148  1.129032 -1.447532  2.841524 -0.787248
3  -0.790226  1.967802  0.433913  3.866449  0.535024
4  -0.125304  2.806572  2.315358  4.891373  1.857296
5  -2.080419  2.000815 -4.342944 -2.685658  5.245734
6   1.204541  4.484112  6.078248  6.941222  4.501841
7  -2.157930 -3.051177  2.135574 -1.596360  5.047210
8   1.557279  7.490173  5.503977 -0.314500  7.483897
9   7.071465  0.812176 -0.675078  5.237433 -2.903713
10 -2.001377 -4.889566  6.803866  4.972763  5.577481
11  6.710935  1.883737  3.531118 -2.903045 -3.282049
12  5.026044  2.066443  3.478542  6.474983  4.520775
13  3.303691  3.388107 -0.440749 -4.537732  1.550761
14 -1.781230  1.127930  7.801046 -1.490908 -4.125459
15 -0.779242 -0.596094  4.928748  3.355482  6.758473
16  4.964703  1.095803  7.210306 -2.495406 -4.659319
17 -3.649282  5.835390  1.928158 -2.580923  2.515672
18 -2.715318  5.444806  1.692344  0.715318 -0.477319
19  4.454239  0.427189 -3.685251 -3.229911  9.428465

In [5]:
print("1. Population size:", n)
print("2. Numerical values of d that cause the minium value of the function:\n", np.array(best(df.T)))
print("3. Corresponding Minimum value of the function: ", f((best(df.T))))
print("4. Max iterations used: ", iters)


df = df.rename(index =lambda x: 'x'+str(x), 
               columns=lambda x: 'd'+str(x))

print("5.\n First five frames:")
print(df.head()) #first 5 frames
print("   \nLast Five frames:")
print(df.tail())#last 5 frames

1. Population size: 20
2. Numerical values of d that cause the minium value of the function:
 [-1.45514845  1.12903186 -1.44753204  2.84152396 -0.7872484 ]
3. Corresponding Minimum value of the function:  201.11600215232653
4. Max iterations used:  1000
5.
 First five frames:
          d0        d1        d2        d3        d4
x0 -2.784993 -0.548508 -5.000000  0.791675 -3.431793
x1 -2.120071  0.290262 -3.328977  1.816599 -2.109521
x2 -1.455148  1.129032 -1.447532  2.841524 -0.787248
x3 -0.790226  1.967802  0.433913  3.866449  0.535024
x4 -0.125304  2.806572  2.315358  4.891373  1.857296

Last Five frames:
           d0        d1        d2        d3        d4
x15 -0.779242 -0.596094  4.928748  3.355482  6.758473
x16  4.964703  1.095803  7.210306 -2.495406 -4.659319
x17 -3.649282  5.835390  1.928158 -2.580923  2.515672
x18 -2.715318  5.444806  1.692344  0.715318 -0.477319
x19  4.454239  0.427189 -3.685251 -3.229911  9.428465